nav {
  background-color: #4bafda;
  text-align: center;
}
li.botones_nav {
  font-size: 40px;
  text-align: center;
  height: 50px;
  margin-right: 20px;
  margin-left: 20px;
  list-style: none;
}
a.colorLetra {
  font-family: fantasy;
  text-decoration: none;
  color: white;
}
li.botones_nav:hover {
  background-color: #3b6575;
}

.flex-container-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
